pymupdf
pypdf2
pytesseract
Pillow
python-doctr[torch]
sentence-transformers
transformers
faiss-cpu
numpy
pandas
gradio==3.50.2
gradio_pdf
uvicorn==0.24.0
nest_asyncio==1.5.8
llama-index-core==0.10.68
llama-index-embeddings-huggingface==0.2.0
llama-index-vector-stores-faiss
llama-index-readers-file
mistralai==0.4.2
llama-index-llms-mistralai==0.1.6
pydantic>=2.0,<=2.12.3
rank_bm25
